
head{
    margin: 0%;
}
body{
    margin: 0%;
    background-color: rgba(192, 192, 192, 0.459);
}
header{
    margin: 0%;
}
.heading{
    margin: 0%;
    background-color: rgb(156 149 149)e;
}
.heading img { 
    margin: 0%; 
    float: left;
    height: 60px;
    width: 60px;
}
.heading h1{
    margin: 0%;
    font-size: 60px;
    padding-left: 5%;
    color: black;
}
.topNav{
    border-top: 3px solid;
    margin: 0%;
    font-size: 25px;
    background-color:rgb(192, 192, 192);
}
a:hover{ 
    color: black;
    word-spacing: normal;
    background-color: red;
}
main{
    margin: 0%;
    
}
h2{
    margin: 0%;
    font-size: 30px ;
    color:black;
}

ul{
    margin: 0%;
    font-size: 25px;
}
footer{
    margin: 0%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 3px dotted rgba(15, 2, 2, 0.877);
    background-color:silver;
}

